/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// Change default Vuetify border radius
@use 'vuetify/settings' with (
  $border-radius-root: 12px
);

// Add margin around headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
}

// customize headings
h1 {
  line-height: 1.2;
  font-size: 40px;

  @media (max-width: 576px) {
    font-size: 24px;
  }
}

h2 {
  line-height: 1.2;
  font-size: 32px;

  @media (max-width: 576px) {
    font-size: 20px;
  }
}

h3 {
  line-height: 1.2;
  font-size: 24px;

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

h4 {
  line-height: 1.2;
  font-size: 20px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

h5 {
  line-height: 1.2;
  font-size: 16px;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

h6 {
  line-height: 1.2;
  font-size: 14px;

  @media (max-width: 576px) {
    font-size: 12px;
  }
}

// Add margin after paragraphs
p {
  margin-bottom: 12px;
}

// use theme primary color for links
a {
  color: rgb(var(--v-theme-primary));
}
