/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// Change default Vuetify border radius
@use 'vuetify/settings' with (
  $border-radius-root: 18px
);

// Add margin around headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
}

// Add margin after paragraphs
p {
  margin-bottom: 12px;
}
