@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "../styles/bootstrap-variables";
@import "../styles/global-variables";

:host {
    display: inline-block;
    cursor: pointer;
    height: 24px;
}

.toggle {
    display: inline-block;
    width: 40px;
    height: 24px;
    border-radius: 12px;
    background-color: #ccc;
    position: relative;
    transition: background-color 0.3s;
}

.slider {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}

.checked {
    background-color: $primary;
}

.search-highlighted .option.active {
    color: $highlightedColor;
}
.search-standard .option.active {
    color: $stdColor;
}
